@model MyImdb.ViewModels.MovieDetailedViewModel

@{
    ViewBag.Title = "Detailed Movie";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MovieDetails</title>
</head>
<body>

    <br />
    <br />
    <div>
        <div class="Container">
            <div class="row">
                <div class="col-md-4"><img src="~/Images/Shawsshank.jpg" w /></div>
                <div class="col-md-6">
                    <h2> @Model.Title (@Model.Year) <a href="/Movie/Edit/@Model.Id"><span class="fas fa-edit"></span></a></h2>
                    <h3> Genre: @Model.Genre</h3>
                    <h3> Rank: @Model.Rank</h3>
                    <small> @Model.StoryLine</small>

                </div>
            </div>
        </div>
    </div>
    @if (Model.Actors.Count < 1) {
        <h1> Cast</h1>
        <h3> There are no registered Actors to this move yet.</h3>
        <br />
    }
    else {
        <br />
        if (ViewBag.Message != null) {
            <div class="alert alert-info">
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;@ViewBag.Message</p>
            </div>
        }
        <h1><span class="fas fa-film"></span> Cast</h1>
        <br />
        <table class="table table-striped">
            <tr>
                <th>Actor Name</th>
                <th>Character</th>

            </tr>
            @foreach (var actor in Model.Actors) {
                <tr>
                    <td><a href="/MovieActor/Edit/@actor.Id"> @actor.Name</a></td>
                    <td>@actor.Character</td>

                </tr>
            }
        </table>
    }
    <a href="@Url.Action("Create", "MovieActor", new { movieId = Model.Id})" class="btn btn-warning">
        <i class="fas fa-plus-square"></i>
        <span>
            <strong>Add Actor</strong>
        </span>
    </a>

</body>
</html>
